*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #aed6f1;
    color: white;
    text-align: center;

}

.inner_footer{
    display: block;
    margin:0 auto;
    width: 1100px;
    height: 100%;

}